.rodape {
    background: var(--marrom);
    /* padding: 3.2rem; */
    padding: 2rem 1.6rem;
    text-align: center;
    /* font-size: 1.5rem; */
    font-size: 1.2rem;
}

.rodape .rodape__nav--lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: 3.5rem;
    padding: 1.5rem 0; */
    gap: 2rem;
    padding: 1rem 0;
}

.rodape .rodape__nav--lista .rodape__nav--lista--whatsapp::before {
    content: url("/assets/Whatsapp.svg")
}

.rodape .rodape__nav--lista .rodape__nav--lista--instagram::before {
    content: url("/assets/Instragam.svg");
}

.rodape .rodape__nav--lista .rodape__nav--lista--tiktok::before {
    content: url("/assets/Tiktok.svg");
}

.rodape__nav_small{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}
